.body {
  background-image: url('https://img.freepik.com/free-photo/shopping-cart-filled-with-coins-copy-space-background_23-2148305919.jpg?w=1380&t=st=1702416222~exp=1702416822~hmac=4a52cd4cb2e25ccff72b98ae2ee1abe6c5e4a52f0f52585c775765600c345ab4');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat:repeat;
}
